In [4]:
# Importing library
import pandas as pd

In [5]:
#Loading data
data = pd.read_csv("variance.csv")

In [6]:
#Printing top 5 rows
data.head()

   Student  Overall Marks Gender    Subject
0    Anish           9700   Male    English
1  Rishabh             83   Male    English
2     Ajay             78   Male    Physics
3  Abhinav             86   Male  Chemistry
4   Anurag             91   Male    English

In [7]:
#Steps to calculate variance

# 1. Calculate Mean
# 2. Calculate the distance from mean for each element
# 3. Calculate Squared distance
# 4. Take average of Squared distance

In [8]:
mean = data['Overall Marks'].mean()

In [9]:
difference = data['Overall Marks'] - mean

In [10]:
squared_difference = difference ** 2

In [11]:
variance = squared_difference.mean()

In [12]:
print(variance)

919170.8423999996

In [13]:
#Calculating variance
var_data = data['Overall Marks'].var(ddof = 0)

In [14]:
print(var_data)

919170.8423999996